<% content_for :page_scripts do %>
<script src="http://bam.cdn.beatsmusic.com/bam-1.0.1.min.js"></script>
<script type="text/javascript">
  var uiOptions = {};
  bap = new PlayerEventHandler(uiOptions);
  var options = {
    clientID: "<%= @client_id %>",
    userID: "<%= @user_id %>",
    accessToken: "<%= @access_token %>",
    showConsole: true
  }
  bam = new BeatsPlayer(bap, options);
  player = new PlayerController(bam, uiOptions);

</script>

<% end %>

<h1>Play Tracks</h1>
<p>Client ID: <%= @client_id%></p>
<p>User ID: <%= @user_id%></p>
<p>Access Token: <%= @access_token%></p>

<form action="">
  <br>trackId
  <input type="text" id="trackId" size="50">
</form>

<div id="beats-player">
  <div class="album-art">
    <img alt="Album Art" />
  </div>
  <div class="meta-container">
    <span class="title"></span>
    <span class="performer"></span>
  </div>
  <div class="media-control-container">
      <span class="media-control play"></span>
      <span class="media-control fast-forward"></span>
      <span class="media-control skip"></span>
  </div>
</div>
