<!DOCTYPE html>
<html>
<head>
  <title>BeatsApi</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'application'%>
<%= yield :page_scripts %>
</body>
</html>
